  $light: hsl(220, 50%, 90%);
  $primary: hsl(255, 30%, 55%);
  $focus: hsl(210, 90%, 50%);
  $border-color: hsla(0, 0%, 100%, 0.2);
  $global-background: hsl(220, 25%, 10%);
  $background: linear-gradient(
    to right,
    hsl(210, 30%, 20%),
    hsl(255, 30%, 25%)
  );
  $shadow-1: hsla(236, 50%, 50%, 0.3);
  $shadow-2: hsla(236, 50%, 50%, 0.4);
  $test: green;
